@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  text-align: center;
}

h1 {
  font-size: 26px;
}

p {
  margin: 20px 0;
  padding: 0 20px;
}

button:focus {
  outline: none;
}

.invisible {
  visibility: hidden;
}

.container {
  margin-top: 50px;
  width: 100%;
}

.panel {
  background-color: white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

/* Configure game panel */

.game {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 50%  50%;
  grid-template-areas: "usertitle comptitle"
                        "user computer"
                        "userscore compscore"
                        "output output";
}

.user-title {
  grid-area: usertitle;
  text-align: center;
}

.comp-title {
  grid-area: comptitle;
  text-align: center;

}

.user {
  grid-area: user;
}
  
.computer {
  grid-area: computer;
}

.user, .computer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.user i, .computer i {
  font-size: 80px;
  color: rgb(96, 178, 255);
}

.user-score {
  grid-area: userscore;
}

.computer-score {
  grid-area: compscore;
}

.user-score, .computer-score {
  font-size: 3rem;
}

.output {
  grid-area: output;
  font-style: italic;
}

/* input area */

.input {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.input button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.input i {
  font-size: 48px;
  color: rgb(96, 178, 255);
}

.input:hover i {
  color: rgb(0, 132, 255);
}

/* Overlay */

.blur-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
}

.menu .panel {
  margin-top: 100px;
  padding: 40px 0;
  width: 100%;
  height: auto;
}

.play {
  border: none;
  box-shadow: none;
  background-color: none;
  border-radius: 50%;
  cursor: pointer;
  width: 72px;
  height: 72px;
}

.play i {
  font-size: 64px;
  color: rgb(0, 132, 255);
}

.play:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

/* media queries */

@media (min-width: 450px) {
  .panel {
    width: 450px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu .panel {
    width: 450px;
  }

  .input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}